<!DOCTYPE html>
<html lang="en"><!-- style="background-image: url('/img/white-waves.png'); background-repeat: round;">-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reckless Capital</title>
    {{ style('/css/fa.min.css') }}
    <!--{{ style('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css') }}-->
    <link rel="stylesheet" href="/css/united.min.css">
</head>
<body onload="signChallenge()">
    @!component('components.navbar', auth = auth)
    <section class="section">
        <div class="container">
            <div class="columns is-vcentered is-two-thirds">
                <div class="column">
                    @!section('content')
                </div>
            </div>
        </div>
  </section>
</body>
</html>